/* Styles to make skrollable work. Copy these to your file. */
.skrollable {
  position: fixed;
  /*z-index:100;*/ }

.skrollr-mobile .skrollable {
  position: absolute; }

.skrollable .skrollable {
  position: absolute; }

.skrollable .skrollable .skrollable {
  position: static; }

/* End skrollable styles */
body {
  font-family: "Lato", sans-serif;
  color: #FFF;
  background-color: #13042B;
  overflow-x: hidden;
  /*background-color: #eee;*/ }

.container-fluid {
  height: 2000px;
  /*border: 3px dotted white;*/ }

/* // side bar // */
/*.nav{
	height: 100%;
	width: 15%;
	border:3px dotted pink;
	position: relative;

	&:hover {
		transition: 1s;
   		left: 0;
	}
}

.navInfo{
	height: 100%;
	width: 100%;
	border:2px solid green;
}
.btn-primary, .btn-primary:hover, 
.btn:focus,.btn:active:focus, .btn.active:focus{
	background-color: $primary-bg;
    border-color: $primary-bg;
    outline: none !important;
}
.sidebarDiv{
	border: 2px solid green;
}

*/
/* // name title // */
.main {
  height: 100%;
  max-height: 700px;
  width: 100%;
  /*border: 3px dotted blue;*/
  padding: 0; }

/*.welcomeDiv{
	height: 100%;
	max-height: 700px;
	width: 100%;
	border: 2px dotted red;
	margin:auto;
	position: absolute;
}*/
/*.header{
	height: 300px;
	margin-top: 10%;
	border: 2px solid green;
	font-size: $primary-font-size;
	text-align: center;
}*/
.profileImgDiv {
  /*border: 1px dotted white;*/
  width: 100%;
  text-align: center;
  position: fixed;
  /*background-color: rgba(19,4,43,.3);*/ }

.profilePic {
  /*border: 1px dotted yellow;*/
  max-width: 100%;
  height: auto;
  width: 437.5px;
  display: inline-block; }

.name {
  /*border: 1px dotted red;*/
  text-align: center;
  width: 100%;
  z-index: 1;
  /*margin-top:75px;*/
  /*top: 450;*/
  /*background-color: rgba(19,4,43,.3);*/ }

.title {
  /*border: 1px dotted white;*/
  font-size: 100px;
  text-align: center;
  margin-bottom: 0;
  line-height: 110px;
  padding: 0;
  font-weight: 100;
  text-shadow: 1px 1px 0px #969696; }

.subtitle {
  /*border: 1px dotted white;*/
  font-size: 30px;
  text-align: center;
  width: 100%;
  color: #BDD4DE;
  padding: 0; }

/* //////about section ///////*/
.projects {
  height: 100%;
  width: 100%;
  max-height: 800px;
  /*border: 4px solid blue;*/
  position: relative;
  clear: both;
  background-color: #F24B4B; }

.item {
  /*border: 2px dotted yellow;*/
  height: 100%;
  width: 100%;
  margin: 0; }

.borderbreak {
  border-bottom: 2px solid #fff;
  width: 500px;
  margin: 0 auto; }

.projectsTitle {
  /*border: 1px dotted blue;*/
  font-size: 64px;
  font-weight: 200;
  text-align: center;
  height: 100px;
  margin-top: 50px; }

.project1 {
  background-color: transparent;
  height: 260px;
  margin-top: 150;
  cursor: pointer; }

.project-img {
  height: 100%;
  width: 100%;
  border: 4px solid #fff;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  display: block;
  	/*&:hover {
  			transform: translateY(-10px);
  			box-shadow: 0 12px 10px rgba(0,0,0,.2);
  
  		}*/ }

.project-Info {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: black;
  display: block; }
  .project-Info .infoRow {
    margin: 0 auto;
    height: 260px;
    max-height: 260px;
    overflow: hidden;
    opacity: 0;
    background-color: #6BD6F1;
    border-radius: 100%;
    transition: all 0.6s ease-in-out; }
    .project-Info .infoRow .projectContent {
      opacity: 0; }

.infoRow:hover {
  opacity: .9;
  border-radius: 4px;
  height: 260px;
  margin: 0 0;
  padding: 0 25;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
  .infoRow:hover .projectContent {
    opacity: 1 !important;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    transition-delay: .4s; }
    .infoRow:hover .projectContent h1 {
      font-weight: 600;
      color: #fff;
      text-shadow: 1px 1px 0px #969696; }
    .infoRow:hover .projectContent p {
      font-size: 14px;
      font-weight: 300; }
      .infoRow:hover .projectContent p .glyphicon-wrench {
        font-size: 10px;
        font-weight: 200; }
    .infoRow:hover .projectContent h5 {
      text-align: justify; }

/* ///////// skillContent //////////*/
.skillsDiv {
  /*border: 2px dotted white;*/
  height: 650px;
  margin-top: 50px; }
  .skillsDiv .row {
    height: 100%; }
  .skillsDiv .skillsItems {
    height: 550px; }

.fullStack, .mobile, .userX, .tools {
  height: 60%; }
  .fullStack .boxy, .mobile .boxy, .userX .boxy, .tools .boxy {
    /*border: 1px dotted blue;*/
    height: 100%;
    padding: 0;
    font-size: 18px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out; }
    .fullStack .boxy h2, .mobile .boxy h2, .userX .boxy h2, .tools .boxy h2 {
      font-size: 29px;
      text-align: left;
      padding-left: 5px; }
    .fullStack .boxy ul, .mobile .boxy ul, .userX .boxy ul, .tools .boxy ul {
      list-style: none !important;
      padding: 0 0 0 20; }
    .fullStack .boxy:after, .mobile .boxy:after, .userX .boxy:after, .tools .boxy:after {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      transition: opacity 0.3s ease-in-out; }
    .fullStack .boxy:hover, .mobile .boxy:hover, .userX .boxy:hover, .tools .boxy:hover {
      background-color: #5792ab;
      transform: scale(1, 1); }
    .fullStack .boxy:hover:after, .mobile .boxy:hover:after, .userX .boxy:hover:after, .tools .boxy:hover:after {
      opacity: 1; }
    .fullStack .boxy li, .mobile .boxy li, .userX .boxy li, .tools .boxy li {
      line-height: 1.3; }

/* ///////// footer //////////*/
.footer {
  /*border: 4px dotted white;*/
  height: 100%;
  max-height: 1440px;
  /*margin-top: 150px;*/ }

.footerSpace {
  /*border: 2px dotted white;*/
  height: 100%;
  max-height: 650px;
  background-color: #13042B; }

.footerTop {
  /*border: 4px dotted red;*/
  height: 650px;
  margin-bottom: 0;
  /*margin-top: 50px;*/
  background: #5792ab; }

.myImg {
  /*border: 1px dotted red;*/ }

.stoicImg {
  /*border: 1px dotted red;*/
  height: 379px;
  width: 380px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%; }

.myInfo {
  /*border: 1px dotted blue;*/
  height: 380px;
  padding-right: 150px;
  text-align: justify;
  margin-top: 15%;
  font-size: 20px; }

.footerList {
  /*border: 2px dotted yellow;*/
  background-color: #13042B;
  height: 100px;
  border-top: 2px solid rgba(19, 4, 43, 0.38); }

.links {
  /*border: 1px dotted red;*/
  height: 100%; }

.links > a {
  /*border: 1px dotted white;*/
  color: white;
  float: right;
  margin: 5%; }
  .links > a:hover {
    text-decoration: none !important;
    /*color: #eee;*/
    /*text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);*/ }

.copyright {
  /*border: 1px dotted blue;*/
  height: 100%; }

.copyright > p {
  margin: 5% 25%;
  text-align: center; }

/*.sidebar {
    position : absolute;
    top : 0;
    left : -160px;;
    transition : 100ms left;
}
#navigation-toggle {
        position : absolute;
        left : 160px;
        background : rgba(3,159,244,.95);
        color : white;
        text-decoration : none;
        padding : 20px;
}
.show {
    left : 0;
}
.navigation {
    list-style : none;
    padding : 0;
    margin : 0;
}
.navigation-items a {
    display : block;
    background-color : #444;
    color : white;
    line-height : 2em;
    text-decoration : none;
    padding : 10px 30px;
    width : 100px;

}
.navigation-items a:hover {
    background-color : #222;
}


.activeClass{
	background-color: $projects-bg;
}
*/

/*# sourceMappingURL=main.css.map */
