body {
  font-family: "Lato", sans-serif;
  color: #FFF;
  background-color: #13042B;
  overflow-x: hidden;
  /*background-color: #eee;*/ }

.container-fluid {
  height: 2000px;
  /*border: 3px dotted white;*/ }

/* // side bar // */
.nav {
  height: 100%;
  width: 15%;
  border: 3px dotted pink;
  position: relative; }
  .nav:hover {
    transition: 1s;
    left: 0; }

.navInfo {
  height: 100%;
  width: 100%;
  border: 2px solid green; }

.btn-primary, .btn-primary:hover,
.btn:focus, .btn:active:focus, .btn.active:focus {
  background-color: #13042B;
  border-color: #13042B;
  outline: none !important; }

.sidebarDiv {
  border: 2px solid green; }

/* // name title // */
.main {
  height: 100%;
  max-height: 700px;
  width: 100%;
  /*border: 3px dotted blue;*/
  padding: 0; }

.welcomeDiv {
  height: 100%;
  max-height: 700px;
  width: 100%;
  /*border: 2px dotted red;*/
  margin: auto;
  position: absolute; }

.header {
  height: 300px;
  margin-top: 10%;
  /*border: 2px solid green;*/
  font-size: 3em;
  text-align: center; }

.profileImgDiv {
  /*border: 1px dotted white;*/ }

.profilePic {
  border-radius: 50%; }

.name {
  /*border: 1px dotted red;*/
  text-align: center;
  height: 100%; }

.title {
  /*border: 1px dotted white;*/
  font-size: 3em;
  text-align: center;
  margin-bottom: 0;
  line-height: 100px; }
  .title:hover {
    text-shadow: 2px 2px 2px #969696; }

.subtitle {
  /*border: 1px dotted white;*/
  font-size: .75em;
  text-align: right;
  width: 75%;
  color: #6BD6F1; }

/* //////about section ///////*/
.projects {
  height: 100%;
  width: 100%;
  max-height: 800px;
  /*border: 4px solid blue;*/
  position: relative;
  clear: both;
  background-color: #F24B4B; }

.leftArrow, .rightArrow {
  /*border: 4px dotted blue;*/
  height: 100%;
  position: absolute; }

.rightArrow {
  right: 0; }

.glyphicon-chevron-left, .glyphicon-chevron-right {
  /*border: 4px dotted white;*/
  top: 50%;
  font-size: 50px;
  border-radius: 50%;
  opacity: 0.1; }
  .glyphicon-chevron-left:hover, .glyphicon-chevron-right:hover {
    background-color: transparent;
    color: #6BD6F1;
    opacity: 1; }

.glyphicon-chevron-right {
  float: right; }

.centeredProjects {
  margin: auto;
  height: 100%;
  width: 100%;
  max-height: 800px;
  max-width: 1000px;
  /*border: 2px solid white;*/ }

.projectsQuote {
  /*border: 1px dotted red;*/
  font-size: 2.5em;
  text-align: center;
  height: 75px;
  margin-top: 50px;
  font-style: italic;
  font-weight: 100;
  font-family: Georgia;
  white-space: nowrap;
  overflow: hidden;
  width: 30em; }

.borderbreak {
  border-bottom: 2px solid grey;
  width: 500px;
  margin-left: 25%; }

.projectsTitle {
  /*border: 1px dotted red;*/
  font-size: 3em;
  text-align: center;
  height: 100px; }

.projectsCarousel {
  /*border: 4px dotted white;*/
  height: 100%;
  max-height: 500px;
  width: 100%; }

.item {
  /*border: 2px dotted yellow;*/
  height: 100%;
  width: 100%;
  margin: 0; }

.project1 {
  /*border: 4px dotted cyan;*/
  height: 100%;
  width: 100%;
  margin: 0; }

.project-img {
  /*border: 2px dotted green;*/ }

.project-Info > .row {
  /*border: 2px dotted orange;*/
  height: 100%;
  margin-left: 10px; }

.projectName > h1 {
  /*border: 1px dotted green;*/
  /*margin-top:58px;*/ }

.projectSkills > h4 {
  /*border: 1px dotted red;*/ }

.projectSkills > p {
  /*border: 1px dotted blue;*/ }

.projectDescription > p {
  /*border: 1px dotted blue;*/ }

/* ///////// sidebar //////////*/
menu {
  border: 2px dotted white;
  background-color: cyan; }

/* ///////// skillContent //////////*/
.skillsDiv {
  /*border: 2px dotted white;*/
  height: 550px;
  margin-top: 150px; }

.skillsTitle {
  /*border: 1px dotted white;*/
  /*	&:hover{
  		text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  	}*/ }

.skillsItems {
  /*border: 1px dotted white;*/
  height: 475px; }

.fullStack, .mobile, .userX, .tools {
  /*border: 1px dotted red;*/
  height: 475px; }

.boxy {
  /*border: 1px dotted blue;*/
  height: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out; }
  .boxy ul {
    list-style: none !important; }
  .boxy:after {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out; }
  .boxy:hover {
    background-color: #6BD6F1;
    transform: scale(1.1, 1.1); }
  .boxy:hover:after {
    opacity: 1; }

/* ///////// footer //////////*/
.footer {
  /*border: 4px dotted white;*/
  height: 100%;
  max-height: 1440px;
  /*margin-top: 150px;*/ }

.footerSpace {
  /*border: 2px dotted white;*/
  height: 100%;
  max-height: 750px; }

.footerTop {
  /*border: 4px dotted red;*/
  height: 440px;
  margin-bottom: 150px;
  margin-top: 150px; }

.myImg {
  /*border: 1px dotted red;*/ }

.stoicImg {
  /*border: 1px dotted red;*/
  height: 379px;
  width: 380px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.myInfo {
  /*border: 1px dotted blue;*/
  height: 380px;
  padding-right: 150px;
  text-align: justify; }

.wordcloud {
  margin-top: 50px;
  line-height: 15px; }

.texas {
  font-size: 25px; }

.gde {
  font-size: 15px; }

.food {
  font-size: 16px; }

.space {
  font-size: 30px; }

.human {
  font-size: 22px; }

.life {
  font-size: 18px; }

.footerList {
  /*border: 2px dotted yellow;*/
  background-color: #6BD6F1;
  height: 100px;
  border-top: 2px solid rgba(19, 4, 43, 0.38); }

.links {
  /*border: 1px dotted red;*/
  height: 100%; }

.links > a {
  /*border: 1px dotted white;*/
  color: white;
  float: right;
  margin: 5%; }
  .links > a:hover {
    text-decoration: none !important;
    /*color: #eee;*/
    /*text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);*/ }

.copyright {
  /*border: 1px dotted blue;*/
  height: 100%; }

.copyright > p {
  margin: 5% 25%;
  text-align: center; }

/*.sidebar {
    position : absolute;
    top : 0;
    left : -160px;;
    transition : 100ms left;
}
#navigation-toggle {
        position : absolute;
        left : 160px;
        background : rgba(3,159,244,.95);
        color : white;
        text-decoration : none;
        padding : 20px;
}
.show {
    left : 0;
}
.navigation {
    list-style : none;
    padding : 0;
    margin : 0;
}
.navigation-items a {
    display : block;
    background-color : #444;
    color : white;
    line-height : 2em;
    text-decoration : none;
    padding : 10px 30px;
    width : 100px;

}
.navigation-items a:hover {
    background-color : #222;
}


.activeClass{
	background-color: $projects-bg;
}
*/

/*# sourceMappingURL=main.css.map */
