body {
  font-family: "Lato", sans-serif;
  color: #FFF;
  background-color: #13042B;
  overflow-x: hidden;
  /*background-color: #eee;*/ }

.container-fluid {
  height: 2000px;
  /*border: 3px dotted white;*/ }

/* // side bar // */
.nav {
  height: 100%;
  width: 15%;
  border: 3px dotted pink;
  position: relative; }
  .nav:hover {
    transition: 1s;
    left: 0; }

.navInfo {
  height: 100%;
  width: 100%;
  border: 2px solid green; }

.btn-primary, .btn-primary:hover,
.btn:focus, .btn:active:focus, .btn.active:focus {
  background-color: #13042B;
  border-color: #13042B;
  outline: none !important; }

.sidebarDiv {
  border: 2px solid green; }

/* // name title // */
.main {
  height: 100%;
  max-height: 700px;
  width: 100%;
  /*border: 3px dotted blue;*/
  padding: 0; }

.welcomeDiv {
  height: 100%;
  max-height: 700px;
  width: 100%;
  /*border: 2px dotted red;*/
  margin: auto;
  position: absolute; }

.header {
  height: 300px;
  margin-top: 10%;
  /*border: 2px solid green;*/
  font-size: 2.7em;
  text-align: center; }

.profileImgDiv {
  /*border: 1px dotted white;*/ }

.profilePic {
  border-radius: 50%; }

.name {
  /*border: 1px dotted red;*/
  text-align: center;
  height: 100%;
  margin-top: 75px; }

.title {
  /*border: 1px dotted white;*/
  font-size: 2.7em;
  text-align: right;
  margin-bottom: 0;
  line-height: 110px;
  padding: 0; }

.subtitle {
  /*border: 1px dotted white;*/
  font-size: .9em;
  text-align: right;
  width: 100%;
  color: #6BD6F1;
  padding: 0; }

/* //////about section ///////*/
.projects {
  height: 100%;
  width: 100%;
  max-height: 800px;
  /*border: 4px solid blue;*/
  position: relative;
  clear: both;
  background-color: #F24B4B; }

.leftArrow, .rightArrow {
  /*border: 4px dotted blue;*/
  height: 100%;
  position: absolute; }

.rightArrow {
  right: 0; }

.glyphicon-chevron-left, .glyphicon-chevron-right {
  /*border: 4px dotted white;*/
  top: 50%;
  font-size: 50px;
  border-radius: 50%;
  opacity: 0.1; }
  .glyphicon-chevron-left:hover, .glyphicon-chevron-right:hover {
    background-color: transparent;
    color: #5792ab;
    opacity: 1; }

.glyphicon-chevron-right {
  float: right; }

.centeredProjects {
  margin: auto;
  height: 100%;
  width: 100%;
  max-height: 800px;
  max-width: 1000px;
  /*border: 2px solid white;*/ }

.borderbreak {
  border-bottom: 2px solid grey;
  width: 500px;
  margin-left: 25%; }

.projectsTitle {
  /*border: 1px dotted red;*/
  font-size: 3em;
  text-align: center;
  height: 100px;
  margin-top: 50px; }

.projectsCarousel {
  /*border: 4px dotted white;*/
  height: 100%;
  max-height: 500px;
  width: 100%; }

.item {
  /*border: 2px dotted yellow;*/
  height: 100%;
  width: 100%;
  margin: 0; }

.project1 {
  /*border: 4px dotted cyan;*/
  height: 100%;
  width: 100%;
  margin: 0; }

.project-img {
  /*border: 2px dotted green;*/ }

.project-Info > .row {
  /*border: 2px dotted orange;*/
  height: 100%;
  margin-left: 10px; }

.projectName {
  margin-top: 50px; }

.projectDescription {
  font-size: 20px; }

/* ///////// skillContent //////////*/
.skillsDiv {
  /*border: 2px dotted white;*/
  height: 650px;
  margin-top: 50px; }
  .skillsDiv .row {
    height: 100%; }
  .skillsDiv .skillsItems {
    height: 550px; }

.fullStack, .mobile, .userX, .tools {
  height: 60%; }
  .fullStack .boxy, .mobile .boxy, .userX .boxy, .tools .boxy {
    /*border: 1px dotted blue;*/
    height: 100%;
    padding: 0;
    font-size: 18px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out; }
    .fullStack .boxy h2, .mobile .boxy h2, .userX .boxy h2, .tools .boxy h2 {
      font-size: 29px;
      text-align: left;
      padding-left: 5px; }
    .fullStack .boxy ul, .mobile .boxy ul, .userX .boxy ul, .tools .boxy ul {
      list-style: none !important;
      padding: 0 0 0 20; }
    .fullStack .boxy:after, .mobile .boxy:after, .userX .boxy:after, .tools .boxy:after {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      transition: opacity 0.3s ease-in-out; }
    .fullStack .boxy:hover, .mobile .boxy:hover, .userX .boxy:hover, .tools .boxy:hover {
      background-color: #5792ab;
      transform: scale(1, 1); }
    .fullStack .boxy:hover:after, .mobile .boxy:hover:after, .userX .boxy:hover:after, .tools .boxy:hover:after {
      opacity: 1; }
    .fullStack .boxy li, .mobile .boxy li, .userX .boxy li, .tools .boxy li {
      line-height: 1.3; }

/* ///////// footer //////////*/
.footer {
  /*border: 4px dotted white;*/
  height: 100%;
  max-height: 1440px;
  /*margin-top: 150px;*/ }

.footerSpace {
  /*border: 2px dotted white;*/
  height: 100%;
  max-height: 650px; }

.footerTop {
  /*border: 4px dotted red;*/
  height: 650px;
  margin-bottom: 0;
  /*margin-top: 50px;*/
  background: #5792ab; }

.myImg {
  /*border: 1px dotted red;*/ }

.stoicImg {
  /*border: 1px dotted red;*/
  height: 379px;
  width: 380px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%; }

.myInfo {
  /*border: 1px dotted blue;*/
  height: 380px;
  padding-right: 150px;
  text-align: justify;
  margin-top: 15%;
  font-size: 20px; }

.footerList {
  /*border: 2px dotted yellow;*/
  background-color: #13042B;
  height: 100px;
  border-top: 2px solid rgba(19, 4, 43, 0.38); }

.links {
  /*border: 1px dotted red;*/
  height: 100%; }

.links > a {
  /*border: 1px dotted white;*/
  color: white;
  float: right;
  margin: 5%; }
  .links > a:hover {
    text-decoration: none !important;
    /*color: #eee;*/
    /*text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);*/ }

.copyright {
  /*border: 1px dotted blue;*/
  height: 100%; }

.copyright > p {
  margin: 5% 25%;
  text-align: center; }

/*.sidebar {
    position : absolute;
    top : 0;
    left : -160px;;
    transition : 100ms left;
}
#navigation-toggle {
        position : absolute;
        left : 160px;
        background : rgba(3,159,244,.95);
        color : white;
        text-decoration : none;
        padding : 20px;
}
.show {
    left : 0;
}
.navigation {
    list-style : none;
    padding : 0;
    margin : 0;
}
.navigation-items a {
    display : block;
    background-color : #444;
    color : white;
    line-height : 2em;
    text-decoration : none;
    padding : 10px 30px;
    width : 100px;

}
.navigation-items a:hover {
    background-color : #222;
}


.activeClass{
	background-color: $projects-bg;
}
*/
body {
  background-color: #13042B; }

.name {
  margin-top: 75px; }

.title {
  font-size: 1.1em;
  padding: 0;
  text-align: right;
  line-height: 55px; }
  .title:hover {
    text-shadow: none; }

.subtitle {
  font-size: .4em;
  color: #BDD4DE;
  padding: 0;
  text-align: right;
  width: 100%; }

.leftArrow, .rightArrow {
  z-index: 1; }

.projects {
  background-color: #F24B4B; }

.projectsTitle {
  margin-top: 30px; }

.borderbreak {
  width: 100%;
  margin: auto; }

.projectsCarousel {
  max-height: 700px;
  padding: 0; }

.project-img {
  height: 100%;
  max-height: 350px;
  width: 100%; }
  .project-img img {
    width: 350px;
    margin: auto;
    display: block; }

.project-info {
  margin-top: 20px; }

.project-info > .row {
  height: 300px;
  padding: 0;
  margin: auto; }

.projectName {
  margin: 10 0; }

.projectSkills {
  font-size: 12px; }
  .projectSkills .glyphicon-wrench {
    margin: 0 10 0 5; }

.projectDescription {
  text-align: justify;
  font-size: 14px;
  margin-top: 10; }

.skillsDiv {
  /*border: 2px dotted white;*/
  height: 750px;
  margin-top: 50px; }
  .skillsDiv .row {
    height: 100%; }
  .skillsDiv .skillsItems {
    height: 650px; }

.fullStack, .mobile, .userX, .tools {
  height: 50%; }
  .fullStack .boxy, .mobile .boxy, .userX .boxy, .tools .boxy {
    /*border: 1px dotted blue;*/
    height: 100%;
    padding: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out; }
    .fullStack .boxy h2, .mobile .boxy h2, .userX .boxy h2, .tools .boxy h2 {
      font-size: 29px;
      text-align: left;
      padding-left: 5px; }
    .fullStack .boxy ul, .mobile .boxy ul, .userX .boxy ul, .tools .boxy ul {
      list-style: none !important;
      padding: 0 0 0 20; }
    .fullStack .boxy:after, .mobile .boxy:after, .userX .boxy:after, .tools .boxy:after {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      transition: opacity 0.3s ease-in-out; }
    .fullStack .boxy:hover, .mobile .boxy:hover, .userX .boxy:hover, .tools .boxy:hover {
      background-color: #5792ab;
      transform: scale(1, 1); }
    .fullStack .boxy:hover:after, .mobile .boxy:hover:after, .userX .boxy:hover:after, .tools .boxy:hover:after {
      opacity: 1; }
    .fullStack .boxy li, .mobile .boxy li, .userX .boxy li, .tools .boxy li {
      line-height: 1.3; }

/* ///////// footer //////////*/
.footer {
  /*border: 4px dotted white;*/
  height: 100%;
  max-height: 1440px;
  /*margin-top: 150px;*/ }

.footerSpace {
  /*border: 2px dotted white;*/
  height: 100%;
  max-height: 750px; }

.footerTop {
  /*border: 4px dotted red;*/
  height: 750px;
  margin-bottom: 0;
  margin-top: 50px;
  background: #5792ab; }

.myImg {
  /*border: 1px dotted red;*/
  margin: 0; }

.stoicImg {
  /*border: 1px dotted red;*/
  height: 279px;
  width: 280px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.myInfo {
  /*border: 1px dotted blue;*/
  height: 225px;
  text-align: justify;
  padding: 0;
  margin-top: 40px;
  font-size: 18px; }
  .myInfo div {
    padding: 0 30; }

.footerList {
  /*border: 2px dotted yellow;*/
  background-color: #13042B;
  height: 100px;
  border-top: 1px solid rgba(19, 4, 43, 0.38); }

.links {
  /*border: 1px dotted red;*/
  height: 50%;
  display: block;
  padding-top: 20px;
  text-align: center; }
  .links a {
    /*border: 1px dotted white;*/
    font-size: 14px;
    color: white;
    float: none;
    margin: 2%; }
    .links a:hover {
      text-decoration: none !important;
      font-size: 15px; }

.copyright {
  /*border: 1px dotted blue;*/
  height: 50%; }

.copyright > p {
  margin: 5% 25%;
  text-align: center; }

body {
  background-color: #13042B; }

.name {
  margin-top: 75px; }

.title {
  font-size: 1.5em;
  padding: 0;
  text-align: right;
  line-height: 80px; }
  .title:hover {
    text-shadow: none; }

.subtitle {
  font-size: .5em;
  color: #BDD4DE;
  padding: 0;
  text-align: right;
  width: 100%; }

.leftArrow, .rightArrow {
  z-index: 1; }

.glyphicon-chevron-left, .glyphicon-chevron-right {
  /*border: 4px dotted white;*/
  top: 50%; }

.projects {
  background-color: #F24B4B; }

.projectsTitle {
  margin-top: 30px; }

.borderbreak {
  width: 100%;
  margin: auto; }

.projectsCarousel {
  max-height: 700px;
  padding: 0; }

.project-img {
  height: 100%;
  max-height: 350px;
  width: 100%; }
  .project-img img {
    width: 350px;
    margin: auto;
    display: block; }

.project-info {
  margin-top: 20px; }

.project-info > .row {
  height: 300px;
  padding: 0;
  margin: auto; }

.projectName {
  margin-bottom: 20px; }

.projectSkills {
  font-size: 14px; }
  .projectSkills .glyphicon-wrench {
    margin: 0 10 0 5; }

.projectDescription {
  text-align: justify;
  font-size: 16px; }

.skillsDiv {
  /*border: 2px dotted white;*/
  height: 650px;
  margin-top: 50px; }
  .skillsDiv .row {
    height: 100%; }
  .skillsDiv .skillsItems {
    height: 550px; }

.fullStack, .mobile, .userX, .tools {
  height: 60%; }
  .fullStack .boxy, .mobile .boxy, .userX .boxy, .tools .boxy {
    /*border: 1px dotted blue;*/
    height: 100%;
    padding: 0;
    font-size: 18px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out; }
    .fullStack .boxy h2, .mobile .boxy h2, .userX .boxy h2, .tools .boxy h2 {
      font-size: 29px;
      text-align: left;
      padding-left: 5px; }
    .fullStack .boxy ul, .mobile .boxy ul, .userX .boxy ul, .tools .boxy ul {
      list-style: none !important;
      padding: 0 0 0 20; }
    .fullStack .boxy:after, .mobile .boxy:after, .userX .boxy:after, .tools .boxy:after {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      transition: opacity 0.3s ease-in-out; }
    .fullStack .boxy:hover, .mobile .boxy:hover, .userX .boxy:hover, .tools .boxy:hover {
      background-color: #5792ab;
      transform: scale(1, 1); }
    .fullStack .boxy:hover:after, .mobile .boxy:hover:after, .userX .boxy:hover:after, .tools .boxy:hover:after {
      opacity: 1; }
    .fullStack .boxy li, .mobile .boxy li, .userX .boxy li, .tools .boxy li {
      line-height: 1.3; }

/* ///////// footer //////////*/
.footer {
  /*border: 4px dotted white;*/
  height: 100%;
  max-height: 1440px;
  /*margin-top: 150px;*/ }

.footerSpace {
  /*border: 2px dotted white;*/
  height: 100%;
  max-height: 750px; }

.footerTop {
  /*border: 4px dotted red;*/
  height: 650px;
  margin-bottom: 0;
  margin-top: 50px;
  background: #5792ab; }

.myImg {
  /*border: 1px dotted red;*/
  margin: 0; }

.stoicImg {
  /*border: 1px dotted red;*/
  height: 279px;
  width: 280px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%; }

.myInfo {
  /*border: 1px dotted blue;*/
  height: 225px;
  text-align: justify;
  padding: 0;
  margin-top: 50px;
  font-size: 18px; }
  .myInfo div {
    padding: 0 30; }

.footerList {
  /*border: 2px dotted yellow;*/
  background-color: #13042B;
  height: 100px;
  border-top: 1px solid rgba(19, 4, 43, 0.38); }

.links {
  /*border: 1px dotted red;*/
  height: 50%;
  display: block;
  padding-top: 20px;
  text-align: center; }
  .links a {
    /*border: 1px dotted white;*/
    font-size: 14px;
    color: white;
    float: none;
    margin: 2%; }
    .links a:hover {
      text-decoration: none !important;
      font-size: 15px; }

.copyright {
  /*border: 1px dotted blue;*/
  height: 50%; }

.copyright > p {
  margin: 5% 25%;
  text-align: center; }

/*# sourceMappingURL=styles_600.css.map */
