/* Styles to make skrollable work. Copy these to your file. */
.skrollable {
  position: fixed;
  /*z-index:100;*/ }

.skrollr-mobile .skrollable {
  position: absolute; }

.skrollable .skrollable {
  position: absolute; }

.skrollable .skrollable .skrollable {
  position: static; }

/* End skrollable styles */
body {
  font-family: "Lato", sans-serif;
  color: #FFF;
  overflow-x: hidden;
  background-color: #13042B; }

.container-fluid {
  height: 2000px;
  /*border: 3px dotted white;*/ }

/*////////  video //////////*/
/*.videobg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    filter: grayscale(1);
}

.videobg_fullscreen {
	filter: grayscale(1);
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .videobg {
        background-color: $primary-bg;
    }

    .videobg_fullscreen {
        display: none;
    }
}
*/
/* // name title // */
.main {
  height: 100%;
  max-height: 700px;
  width: 100%;
  /*border: 3px dotted white;*/
  padding: 0; }

.profileImgDiv {
  /*border: 1px dotted white;*/
  width: 100%;
  text-align: center;
  position: fixed;
  /*background-color: rgba(19,4,43,.3);*/ }

.profilePic {
  max-width: 100%;
  height: auto;
  width: 437.5px;
  display: inline-block; }

.name {
  text-align: center;
  width: 100%;
  z-index: 1; }

.title {
  /*border: 1px dotted white;*/
  font-size: 120px;
  text-align: center;
  margin-bottom: 0;
  line-height: 110px;
  padding: 0;
  font-weight: 300;
  text-shadow: 1px 1px 0px #969696; }

.subtitle {
  /*border: 1px dotted white;*/
  font-size: 30px;
  text-align: center;
  width: 100%;
  color: #BDD4DE;
  padding: 0; }

.about {
  margin-top: 520px;
  font-size: 20px;
  text-align: justify;
  font-weight: 300;
  padding: 0 180px;
  position: fixed; }

/* //////about section ///////*/
.projects {
  height: 100%;
  width: 100%;
  max-height: 800px;
  /*border: 4px solid blue;*/
  position: relative;
  clear: both;
  background-color: #F24B4B; }

.item {
  /*border: 2px dotted yellow;*/
  height: 100%;
  width: 100%;
  margin: 0; }

.projectsTitle {
  /*border: 1px dotted blue;*/
  font-size: 64px;
  font-weight: 300;
  text-align: center;
  height: 100px;
  margin-top: 50px; }

.project-img {
  height: 100%;
  width: 100%;
  border: 4px solid #fff;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  display: block;
  /*z-index: 1;*/ }
  .project-img img {
    height: 250px;
    width: 100%;
    margin: 0 auto;
    display: block; }
  .project-img:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.2); }

.project-Info {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: black;
  display: block; }
  .project-Info .infoRow {
    margin: 0 auto;
    height: 260px;
    max-height: 260px;
    overflow: hidden;
    opacity: 0;
    background-color: #6BD6F1;
    border-radius: 100%;
    transition: all 0.6s ease-in-out; }
    .project-Info .infoRow .projectContent {
      opacity: 0; }

.infoRow:hover {
  opacity: .9;
  border-radius: 4px;
  height: 260px;
  margin: 0 0;
  padding: 0 25;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
  .infoRow:hover .projectContent {
    opacity: 1 !important;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    transition-delay: .4s; }
    .infoRow:hover .projectContent h1 {
      font-weight: 600;
      color: #fff;
      text-shadow: 1px 1px 0px #969696; }
    .infoRow:hover .projectContent p {
      font-size: 14px;
      font-weight: 300; }
      .infoRow:hover .projectContent p .glyphicon-wrench {
        font-size: 10px;
        font-weight: 200; }
    .infoRow:hover .projectContent .projectDescription {
      text-align: justify;
      /*font-size: 14px;
      font-weight: 600;
      line-height: 1.2;*/ }

/* ///////// skillContent //////////*/
.skillsDiv {
  /*border: 2px dotted white;*/
  background-color: #13042B;
  height: 900px; }
  .skillsDiv .row {
    height: 100%; }
  .skillsDiv .skillsTitle {
    margin-top: 50px;
    font-size: 65px;
    font-weight: 300;
    text-align: center; }
  .skillsDiv .skillsSummary {
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    padding: 0 50; }
  .skillsDiv .skillsItems {
    /*border: 2px dotted yellow;*/
    height: 500px;
    margin-top: 50px;
    padding: 0; }

.fullStack, .mobile, .userX, .tools {
  height: 350px;
  /*border: 1px dotted red;*/ }
  .fullStack .boxy, .mobile .boxy, .userX .boxy, .tools .boxy {
    /*border: 1px dotted white;*/
    text-align: center;
    height: 100%;
    padding: 0;
    font-size: 18px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out; }
    .fullStack .boxy h2, .mobile .boxy h2, .userX .boxy h2, .tools .boxy h2 {
      /*border: 1px dotted green;*/
      font-size: 29px;
      font-weight: 800; }
    .fullStack .boxy ul, .mobile .boxy ul, .userX .boxy ul, .tools .boxy ul {
      /*border: 1px dotted yellow;*/
      list-style: none !important;
      padding: 0 0 0 0;
      font-weight: 400; }
    .fullStack .boxy:after, .mobile .boxy:after, .userX .boxy:after, .tools .boxy:after {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      transition: opacity 0.3s ease-in-out; }
    .fullStack .boxy:hover, .mobile .boxy:hover, .userX .boxy:hover, .tools .boxy:hover {
      background-color: #5792ab;
      transform: scale(1, 1); }
      .fullStack .boxy:hover h2, .mobile .boxy:hover h2, .userX .boxy:hover h2, .tools .boxy:hover h2 {
        opacity: 1; }
    .fullStack .boxy:hover:after, .mobile .boxy:hover:after, .userX .boxy:hover:after, .tools .boxy:hover:after {
      opacity: 1;
      transition: all 0.4s ease;
      transition-delay: .2s; }
    .fullStack .boxy li, .mobile .boxy li, .userX .boxy li, .tools .boxy li {
      line-height: 1.3; }

/* ///////// new projects display //////////*/
.project2 {
  /*border:1px solid white;*/
  background-color: transparent;
  height: 100%;
  width: 100%;
  cursor: pointer;
  padding: 10; }

.new-project-img {
  height: 506px;
  width: 100%;
  /*border: 4px solid #fff;*/
  box-sizing: border-box;
  border-radius: 3px;
  background-color: transparent;
  /*position:absolute;*/
  display: block;
  /*padding: 0 260;*/
  margin-top: 50; }
  .new-project-img img {
    width: 810px;
    margin: 0 auto;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }
    .new-project-img img:hover {
      transform: scale(1.03);
      box-shadow: 0 2px 13px 3px rgba(0, 0, 0, 0.3);
      right: 410;
      transition: all 0.7s ease-out; }
      .new-project-img img:hover ~ .content {
        opacity: 1;
        transform: scale(1);
        transition: all 0.7s ease-out .2s; }
        .new-project-img img:hover ~ .content h2 {
          box-shadow: 0 2px 13px 0px rgba(0, 0, 0, 0.3); }
        .new-project-img img:hover ~ .content h5 {
          box-shadow: 0 2px 13px 0px rgba(0, 0, 0, 0.3);
          bottom: 40;
          transition: bottom 1s ease-out 0.5s; }
        .new-project-img img:hover ~ .content p {
          box-shadow: 0 2px 13px 0px rgba(0, 0, 0, 0.3); }

.content {
  /*border: 1px solid white;*/
  opacity: 0;
  height: 506px;
  position: absolute;
  right: 0;
  transform: scale(0); }
  .content h2 {
    /*border: 1px solid white;*/
    background-color: #6BD6F1;
    height: 100px;
    margin-top: 20;
    font-size: 60;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2;
    z-index: 1;
    position: relative; }
  .content h5 {
    /*border: 1px solid white;*/
    background-color: #CCCACA;
    height: 60px;
    line-height: 6;
    text-align: center;
    position: relative;
    bottom: 70; }
  .content p {
    /*border: 1px solid white;*/
    background-color: #6BD6F1;
    height: 280px;
    padding: 30 50;
    text-align: justify;
    font-size: 19;
    margin-top: -30; }

/* ///////// footer //////////*/
.footerList {
  /*border: 2px dotted white;*/
  background-color: #F24B4B;
  height: 75px; }

.links {
  /*border: 1px dotted red;*/
  height: 100%; }

.links > a {
  /*border: 1px dotted white;*/
  color: white;
  float: right;
  margin: 5%; }
  .links > a:hover {
    text-decoration: none !important;
    /*color: #eee;*/
    /*text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);*/ }

.copyright p {
  text-align: center;
  margin-top: 5%; }

body {
  background-color: #13042B; }

.profilePic {
  margin-top: 100px;
  width: 327.75px; }

.title {
  margin-top: 30px;
  font-size: 60px;
  line-height: 80px; }

.subtitle {
  font-size: 20px; }

.about {
  font-size: 16px;
  padding: 0 30px; }

.projects {
  max-height: 1500px; }

.projectsTitle {
  font-size: 50px; }

.skillsDiv {
  height: 1000px; }
  .skillsDiv .skillsTitle {
    font-size: 54px; }
  .skillsDiv .skillsSummary {
    font-size: 18px;
    text-align: justify;
    font-weight: 300; }

.fullStack, .mobile, .userX, .tools {
  height: 250px; }
  .fullStack .boxy, .mobile .boxy, .userX .boxy, .tools .boxy {
    font-size: 14px; }

/* ///////// new projects img //////////*/
.project2 {
  /*border:1px solid white;*/
  background-color: transparent;
  height: 100%;
  width: 100%;
  cursor: pointer;
  padding: 10; }

.new-project-img {
  height: 177px;
  width: 100%;
  /*border: 4px solid #fff;*/
  box-sizing: border-box;
  border-radius: 3px;
  background-color: transparent;
  display: block;
  margin-top: 50; }
  .new-project-img img {
    width: 284px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: scale(1); }
    .new-project-img img:hover {
      transform: scale(1.2);
      box-shadow: 0 2px 13px 3px rgba(0, 0, 0, 0.3);
      top: 50;
      transition: all 0.7s ease-out; }
      .new-project-img img:hover ~ .content {
        opacity: 1;
        top: 280;
        transform: scale(1.2);
        transition: all 1s ease-out .5s; }
        .new-project-img img:hover ~ .content h2 {
          box-shadow: 0 2px 13px 0px rgba(0, 0, 0, 0.3);
          opacity: 1;
          transition: opacity 1s ease-out 0.7s; }
        .new-project-img img:hover ~ .content h5 {
          box-shadow: 0 2px 13px 0px rgba(0, 0, 0, 0.3);
          opacity: 1;
          bottom: 30;
          transition: all 2s ease-out 1s; }
        .new-project-img img:hover ~ .content p {
          box-shadow: 0 2px 13px 0px rgba(0, 0, 0, 0.3);
          opacity: 1;
          transition: opacity 1s ease-out 0.6s; }

.content {
  /*border: 1px solid white;*/
  opacity: 1;
  height: 253px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 284px;
  margin: 0 auto;
  transform: scale(0); }
  .content h2 {
    /*border: 1px solid white;*/
    background-color: #6BD6F1;
    height: 75px;
    margin-top: 10;
    font-size: 40;
    font-weight: 700;
    text-align: center;
    line-height: 1.7;
    letter-spacing: 2;
    z-index: 1;
    position: relative;
    opacity: 0; }
  .content h5 {
    /*border: 1px solid white;*/
    background-color: #CCCACA;
    height: 60px;
    line-height: 8;
    text-align: center;
    position: relative;
    bottom: 70;
    font-size: 11px;
    opacity: 0; }
  .content p {
    /*border: 1px solid white;*/
    background-color: #6BD6F1;
    height: 230px;
    padding: 15 25;
    text-align: justify;
    font-size: 14;
    opacity: 0; }

/* ///////// footer //////////*/
.footerList {
  height: 100px; }

.links {
  /*border: 1px dotted red;*/
  height: 50%;
  display: block;
  padding-top: 20px;
  text-align: center; }
  .links a {
    /*border: 1px dotted white;*/
    font-size: 14px;
    color: white;
    float: none;
    margin: 2%; }
    .links a:hover {
      text-decoration: none !important;
      font-size: 15px; }

.copyright {
  /*border: 1px dotted blue;*/
  height: 50%; }

.copyright p {
  margin-top: 10px;
  text-align: center; }

/*# sourceMappingURL=styles_300.css.map */
