
	<footer class="footerList col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 links">
				<a class="devicons devicons-github_badge" href="https://github.com/juan-rod">github</a>
				<a href="https://www.linkedin.com/in/juanrod1">linkedIn</a>
				<a href="mailto:juan.j.rodriguez2@gmail.com">juan.j.rodriguez2@gmail.com</a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 copyright">
				<p> &copy 2015 juanrod </p>
			</div>
		</div>
	</footer>

