<div class="row">
	<div class="footerSpace col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<skills-content></skills-content>
		<!-- just blank space-->
	</div>
	<div class="footerTop col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="myImg col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<img class="stoicImg" src="data/img/stoic.jpg" alt="..." height="100%" width="100%">
		</div>
		<div class="myInfo col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<!-- <h1>Hey Yall!</h1> -->
					<p>I'm a recent graduate from Nashville Software School, an intensive coding bootcamp that equips avid learners with a world of programming knowledge. It was an amazing experience that cultivated my passion for developing web solutions. Something about what languages I know and what I like and then something about my future. Grool! </p>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wordcloud">
					<p><span class="texas">Texas born and raised. </span> <span class="gde">Future Google Developer Expert.</span></p>
					<p class="food">Firm believer in free chips and salsa at every mexican restaurant.</p>
					<p> <span class="space">Space Explorer.</span><span class="life"> Lover of Life.</span><span class="human"> Humanist.</span></p>
					
				</div>
			</div>
		</div>
	</div>
	<div class="footerList col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 links">
				<a href="#">resume</a>
				<a href="twitter.com/juanrod">@juanrod</a>
				<a href="mailto:juan.j.rodriguez2@gmail.com">juan.j.rodriguez2@gmail.com</a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 copyright">
				<p> &copy 2015 juanrod </p>
			</div>
		</div>
	</div>
</div>