<div class="container-fluid">
	<div class="row firstRow ">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main" skrollr-Tag>
			<div class="row">
				<div class="profileImgDiv" 
					data-0="opacity:1;transform:translateY(0%) scale(1)" 
					data-400="opacity:0;transform:translateY(-15%) scale(0.9)">
						<img class="profilePic" src="data/img/jrodheadshot.png">
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 name" 
					data-0="margin-top: 450px; left:0; opacity:1; position: absolute; transform: scale(1) translateX(0%)" 
					data-300=" margin-top: 300px; opacity:.2; position:fixed; transform: scale(.5) translateX(0%)"
					data-302="margin-top:0; opacity:.2;transform: scale(.5) translateX(0%)"
					data-500="margin-top:0; opacity:1; transform: scale(.3) translateX(130%)">
						<p class="title col-md-12 col-sm-12 col-xs-12">juan rodriguez</p>
						<p class="subtitle col-sm-12 col-xs-12">software developer</p>
				</div>	
			</div>
		</div>  
		
		<project-format></project-format>

		<div class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<footer-content></footer-content>
		</div>
	</div>
</div>
		