<div class="container-fluid">
	<div class="row firstRow ">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nav hidden">
			<div class="row navRow">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navInfo">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sidebarSlogan">
							<h2>call me <br> beep me <br> if you want to reach me<br></h2>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sidebarContactInfo">
						<ul>
							<li>juan.j.rodriguez2@gmail.com</li>
							<li>twitter/juanrod</li>
							<li>linkedin</li>
						</ul>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sidebarSlogan">
							<h2>Languages</h2>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sidebarSlogan">
							<h2>Disiplines</h2>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sidebarSlogan">
							<h2>Focus</h2>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sidebarSlogan">
							<h2>Dreams</h2>
					</div>
				</div> 
			</div>	
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 welcomeDiv">
			<div class="row fckinUp">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header">
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 profileImgDiv">
						<!-- <img class="profilePic" src="/data/img/beytea.png"> -->
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 name">
						<p class="title">juanrod</p>
						<p class="subtitle"> a lil heifer who can't sing</p>
					</div>	
				</div>	
			</div>
		</div>
			<!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div> -->
			<div class="projects">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projectsQuote">
						<p>Knowledge is of no value unless you put it into practice</p>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 borderBreak">
						<!-- border -->
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projectsTitle">
						<p>Recent Projects</p>
					</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projectsCarousel" >
							<div class="row item active">
								<div class="project1">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 project-img">
										<img src="/data/img/bey1.jpg" alt="..." height="100%" width="100%">
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 project-caption">
										<h2>Project Name</h2>
										<h4>Skills + Role</h4>
										<p>Made the whole damn thing myself</p>
									<p>Mumblecore +1 helvetica scenester four dollar toast. Cray blog organic, cold-pressed migas brunch chambray leggings actually microdosing. Locavore raw denim slow-carb, keffiyeh flexitarian banh mi mlkshk ugh gentrify waistcoat cronut small batch helvetica DIY. Tofu kickstarter chillwave, pop-up keytar crucifix tacos iPhone shoreditch everyday carry williamsburg twee. Celiac bitters listicle kitsch, ethical scenester locavore helvetica aesthetic cold-pressed. Try-hard marfa whatever raw denim bespoke, franzen wolf authentic selvage. </p>
									</div>
								</div> 			
							</div>
						</div>
				</div>				
			</div>
	</div>
</div>
		