<div class="projects col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="projectsCtrl">
	<div class="row item active">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projectsTitle">
				<p>Recent Projects</p>
			</div>
			<div class="project2 col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="p in projectContent">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-project-img img1">
						<img class=""ng-src="{{p.Img}}" alt="..." height="100%" width="100%">
					
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 content">
								<h2>{{p.Title}}</h2>
								<h5>{{p.Skills}}</h5>
								<p>{{p.Description}}</p>
						</div>
					</div>
				</div>
			</div>
				<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-project-img img2">
					<img src="data/img/uPickv2.1.png" alt="..." height="100%" width="100%">
				</div> -->

				<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 project-img">
					<img ng-src="{{p.Img}}" alt="..." height="100%" width="100%">
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 project-Info">
					<div class="row infoRow">
						<div class="projectContent">
							<h1>{{p.Name}}</h1>
							<p><span class="glyphicon glyphicon-wrench"></span>
								{{p.Skills}}
							</p>
							<h5 class="projectDescription">{{p.Description}}</h5>
						</div>
					</div>
				</div> -->
			</div> 			
	</div>
