<div ng-controller="sidebarCtrl">
<button class="btn btn-primary" ng-click="showLeft(showBar)"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nav" ng-show="showBar">
            <div class="row navRow">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navInfo">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sidebarSlogan">
                            <h2>call me <br> beep me <br> if you want to reach me<br></h2>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sidebarContactInfo">
                        <ul>
                            <li>juan.j.rodriguez2@gmail.com</li>
                            <li>twitter/juanrod</li>
                            <li>linkedin</li>
                        </ul>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sidebarSlogan">
                            <h2>Languages</h2>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sidebarSlogan">
                            <h2>Discipline</h2>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sidebarSlogan">
                            <h2>Focus</h2>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sidebarSlogan">
                            <h2>Dreams</h2>
                    </div>
                </div> 
            </div>  
        </div> 
    </div>