<div class="row">
	<div class="skillsDiv col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="skillsTitle col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h1>Skills</h1>
			</div>
			<div class="skillsItems col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="fullStack col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="boxy col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<h2>Full Stack</h2>
									<ul>
										<li class="devicons devicons-angular">AngularJS</li>
										<li class="devicons devicons-javascript">JavaScript</li>
										<li class="devicons devicons-dotnet">Dotnet/C#</li>
										<li class="devicons devicons-firebase">Firebase</li>
										<li class="devicons devicons-jquery">jQuery</li>
										<li class="devicons devicons-requirejs">RequireJS</li>
									</ul>
							</div>
					</div>
					<div class="mobile col-lg-3 col-md-3 col-sm-3 col-xs-3">	
							<div class="boxy col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<h2>Mobile</h2>
									<ul>
										<li class="devicons devicons-ionic">Ionic</li>
									</ul>
							</div>
					</div>
					<div class="userX col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="boxy col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<h2>User Experience/ Interface</h2>
									<ul>
										<li class="devicons devicons-bootstrap">Bootstrap</li>
										<li class="devicons devicons-css3">CSS 3</li>
										<li class="devicons devicons-sass">Sass</li>
										<li class="devicons devicons-jquery">jQuery</li>
										<li class="devicons devicons-responsive">Responsive Design</li>
									</ul>
							</div>
					</div>
					<div class="tools col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="boxy col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<h2>Tools</h2>
									<ul>
										<li class="devicons devicons-visualstudio">Visual Studio</li>
										<li class="devicons devicons-sublime">Sublime Text</li>
										<li class="devicons devicons-github_badge">GitHub</li>
										<li class="devicons devicons-markdown"> Markdown</li>
										<li class="devicons devicons-grunt">Grunt</li>
										<li class="devicons devicons-trello">Trello</li>
										<li class="devicons devicons-terminal">Command Line</li>
										<li class="devicons devicons-bower">Bower</li>
										<li class="devicons devicons-npm">NPM</li>
										<li class="devicons devicons-digital-ocean">Digital Ocean</li>
									</ul>
							</div>
					</div>
				
			</div>
		</div>
	</div>
</div>