@import "main";
/*$font-stack:'Lato', sans-serif;
$primary-text-color: #FFF;
$secondary-text-color: #F24B4B;
$third--text-color: #4ABFCB;
$third-bg: darken(#BDD4DE, 30%);
$primary-font-size: 1.5em;*/

body{
	background-color: $primary-bg;
}


.title{
	font-size: 80px;
}

.subtitle{
	font-size: 25px

}
.about{
	font-size:18px;
	padding:0 60px;
}


.projects{
	max-height: 2200px;
}
.projectsTitle{
	font-size: 54px;
}


.skillsDiv{

	.skillsTitle{
		font-size: 54px;
	}

	.skillsSummary{
		font-size: 18px;
		text-align: justify;
		font-weight: 300;
	}
}

.fullStack, .mobile, .userX, .tools{
	height: 250px;

	.boxy{
	/*border: 1px dotted white;*/
	text-align: center;

	h2{
		/*border: 1px dotted green;*/
		font-size: 24px;
		font-weight: 800;
	}
	height: 100%;
	padding: 0;
	font-size: 14px;

	}
}
/* ///////// footer //////////*/



.footerList{
	height:100px;
	/*border: 1px solid white;*/
}
.links{
	/*border: 1px dotted blue;*/
	height: 50%;
	display: block;
	padding-top: 20px;
	text-align: center;
	 a{
	/*border: 1px dotted white;*/
	font-size: 14px;
	color: white;
	float:none;
	margin: 2%;
		&:hover{
			text-decoration: none !important;
			font-size: 15px;
		}
	}
}

.copyright p{
	margin-top: 10px;
}


















